@tailwind base;
@tailwind components;
@tailwind utilities;

/* Other imports or custom styles come here */

/* Your global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJuktqQ4E.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

body {
  font-family: "Outfit";
}

@layer base {
  body {
    @apply bg-bgColor;
  }
}

@layer components {
  .parent1:hover .child1 {
    visibility: visible;
  }
  .grid-cols-custom {
    grid-template-columns: 100px calc(100% - 5% - 100px - 50px);
  }
}
