@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

  body {
    @apply bg-bgColor overflow-x-hidden font-outfit;
  }
}

@layer components {
  .grid-cols-custom {
    grid-template-columns: 100px calc(100% - 5% - 100px - 50px);
  }
}
